<% if object.errors.any? %>
  <div id="errors">
    <p class="title">
      <%= t "application.errors", count: object.errors.count %>
    </p>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>